@import url(https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap");

/* Para poder ver los tamaños de todo */
* {
  border: 1px solid red;
}

:root {
  font-size: 15px;
  --red: #ff6f69;
  --beige: #ffeead;
  --yellow: #ffcc5c;
  --dark-yellow: #ffe600;
  --green: #7ed321;
  --dark-green: #00b200;
  --white: rgb(245, 245, 245);
  --title-color: rgb(152, 236, 159);
  --button-background: #51c5e2;
  --button-border: rgb(240, 234, 234);
  --black: #000;
  --body-background: #f8ab62;
  --transparent: rgba(0, 0, 0, 0);
  --white-semi-transparent: rgba(225, 225, 225, 0.5);
  --presentation-background: rgba(255, 222, 130, 0.5);
}

.conteiner-skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.red {
  background-color: var(--red);
}
.contenedor {
  width: 50%;
}
#id1 {
  width: 100px;
}

#id2 {
  width: 70%; /*70% del padre*/
}
#id3 {
  width: 100vw; /* del ancho del tamaño de la pantalla*/
  font-size: 10vw; /*10vw del tamaño de la fuente*/
}

body {
  font-family: "Open Sans";
  /* height: 100vh; */
  margin: 0px;
  background-repeat: no-repeat;
  background-color: rgba(20, 22, 32, 0.918);
}

/* Fuente titulo principal */

span {
  font-family: "Yanone Kaffeesatz", sans-serif;
  letter-spacing: 0.1vw;
  font-size: 1.46vw;
  color: var(--white);
}
h1,
h2,
h3,
h4 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  letter-spacing: 0.1vw;
  font-size: 2.92vw;
  color: rgb(154, 215, 243);
}

ul {
  font-family: "Yanone Kaffeesatz", sans-serif;
  letter-spacing: 0.5vw;
  font-size: 2vw;
  color: rgb(223, 221, 110);
}
input {
  height: 3vw;
  border-radius: 0.5vw;
  background-color: var(--white-semi-transparent);
}
textarea {
  border-radius: 0.5vw;
  background-color: var(--white-semi-transparent);
}
textarea::-moz-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 2vw;
}
input::-webkit-input-placeholder {
  font-size: 2vw;
}
input::-moz-placeholder {
  font-size: 2vw;
}

section {
  width: 90%;
  margin-bottom: 7.32vw;
}

.about-text,
label {
  font-family: "Yanone Kaffeesatz", sans-serif;
  letter-spacing: 0.1vw;
  font-size: 1.83vw;
  color: var(--white);
}

/* Botton  */
button {
  margin: 3.66vw;
  font-family: inherit;
  border-radius: 0px 0px 0px 1vw;
}
/*  Simple button styling -- No animation */
.der,
.izq {
  font-size: 1.46vw;
  font-weight: 200;
  letter-spacing: 0.07vw;
  padding: 0.95vw 3.66vw 0.95vw;
  outline: 0;
  border: 1px solid var(--button-border);
  cursor: pointer;
  position: relative;
  border-radius: 0px 0px 0px 1vw;
  background-color: var(--transparent);
}

*/ .card {
  background-color: var(--presentation-background);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 3px 3px rgb(247, 180, 35), -1em 0 0.4em rgb(255, 172, 94);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*  Estilos de presentacion*/
#seccion-presentacion {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-self: center;
}
#contenedor-imagen-skill {
  display: flex;
  align-items: flex-end;
  /* width: 40vw; */
  height: auto;
  max-width: 600px;
  margin-bottom: 0px;
}

#imagen-skill {
  width: 40vw;
  height: auto;
  max-width: 600px;
  margin-bottom: 0px;
}

@media screen and (max-width: 1200px) {
  #contenedor-imagen-presentacion {
    display: none;
  }
  #contenedor-texto-presentacion {
    width: 100%;
    justify-self: center;
  }
  #seccion-presentacion {
    height: auto;
  }
  section {
    margin-bottom: 10vw;
  }
  #sobre-mi-columna2 {
    display: none;
  }
}

/* Menu de navegacion */
#menu-container {
  display: flex;
  flex-direction: row; /* en file*/
  width: 100%;
  justify-content: space-evenly;
  height: 3.5rem;
}

#items-container {
  display: flex;
  flex-direction: row; /* en file*/
  justify-content: space-between;
}

.items {
  color: var(--white);
  list-style: none;
  margin-left: 10px;
  display: block;
  padding: 5px;
  background: rgb(152, 236, 159);
  text-decoration: none;
  color: var(--black);
}

section{
  display: flex;
  flex-direction: row;
}

#contenedor-imagen-skill{
  display: flex;
  align-items: center
}